*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size:10px;
}

body{
    width:80vw;
    margin:auto;
    background-color: antiquewhite;
}

.shoppingCartWrapper{
  

}
.shopWelcomeMessage{
    padding:3rem;
    background-color: rgb(233, 188, 130);
    text-align: center;
    color:white;
}
.listAndCart{
padding:3rem;
display: flex;
justify-content:space-between

}
/* Shopping list---------------START------------------------------ */
.shoppingList{
    width:40%

}
.shoppingListHead{
    color:rgba(203, 12, 236, 0.897);
    text-decoration: underline;
}

.shoppingList ul{
    list-style: none;
}
.shoppingList ul li{
    display: flex;
    border-left : 2px solid rgba(203, 12, 236, 0.897);
    margin-bottom:1rem;
    padding:1rem;
  
    
}
.shoppingList ul li:nth-child(odd){
    background: wheat
    
}

.shoppingList ul li h2{
    flex-grow:1;
}
.iconHover:hover{
  color:rgba(203, 12, 236, 0.897);
  cursor: pointer;
}

/* Shopping list---------------END------------------------------ */
/* Shopping CART---------------START------------------------------ */
.shoppingCart{
width:40%;

}
.shoppingCart-head{
 color:rgba(203, 12, 236, 0.897);
 text-align:center;
 background-color: wheat;
 padding:2rem;
 border-bottom:2px solid rgba(203, 12, 236, 0.897) ;
 margin-bottom: .3rem;
}
.shoppingCart-content{
    list-style:none;
}
.shoppingCart-content li {
    border-left : 2px solid rgba(203, 12, 236, 0.897);
    display:flex;
    justify-content: space-between;
    margin-bottom:.3rem;
    padding:1rem;
}
.shoppingCart-content-itemName{
    font-size: 1.8rem;
    width:50%;
}
.shoppingCart-content-addAndSub{
    width:20%;
}
.shoppingCart-content-addAndSub i{
    font-size: 1.8rem;
    cursor: pointer;
}
.shoppingCart-content-addAndSub i:hover{
    color:rgba(203, 12, 236, 0.897) ;
}
.shoppingCart-content-addAndSub span{
    padding:.2rem;
}
.shoppingCart-content-delete{
    font-size: 1.8rem;
}
.shoppingCart-content-delete:hover{
    color:red;
}

