
body{
  width:80vw;
  margin:auto;
}
.customFormStyle{
  display:flex !important;
  justify-content: center;
  align-items: center;
  height: 20rem !important;
}
.customFormElementStyle{

}
.buttonContainer{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.marginzero{
  margin-bottom: 0 !important;
  
}
.finalDetails{
  width:60%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.finalDetails table th{
  text-align: left;
}
.finalDetails table td{
  text-align: center;
}
.border{
  border: 2px solid rgb(108, 192, 240) !important;
}
